@import url('https://fonts.googleapis.com/css?family=Nunito');

h1,
h2,
h3,
h4,
h5 {
  font-family: Nunito, sans-serif;
  line-height: 1.2;
  font-weight: 500;
}

a {
    color: #3490dc;
    text-decoration: none;
    background-color: transparent;
}

.container {
  padding: 0 0.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.page-title {
  text-align: center;
}
